{% macro render_field(field) %}
 
<dt>{{ field.label }}:
 
<dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <span class="error">
    {% for error in field.errors %}
      {{ error }}
    {% endfor %}
    </span>
  {% endif %}
</dd>
 
 
{% endmacro %}