{% extends "layout.html" %}
{% block content %}
 
<div class="user-profile">
  <div class="page-header">
    <h2>Public Recipes</h2>
  </div>
 
  <table class="table table-striped" id="owned_stock_table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in public_recipes %}
      <tr>
        <td>{{ recipe.recipe_title }}</td>
        <td>{{ recipe.recipe_description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
 
{% endblock %}